@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oxanium:wght@200..800&family=Permanent+Marker&display=swap');

body{
  position: relative;
  min-height: 100vh;
  background: #000;
}

body::before {
  content: "";
  position: fixed;
  inset: -20px;
  z-index: -1;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  filter: blur(50px);
}

h1, .permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: 3rem;
  font-style: normal;
}

p,.oxanium-regular {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
}

h2 .inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000000;
}
nav, .inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #010101c5;
  color: #ffffff;
}

nav a, .inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  padding-top: 0;
}

nav a:hover {
  color: #b5acac;
  transition: 0.2s;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0;
  padding: 0;
  gap: 3rem;
}

nav li {
  list-style: none;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #010101c5;
  margin: 5rem;
  margin-top: 8rem;
  color: #ffffff;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  z-index: 1;
}
.product:hover{
    background-color: #ffffff20;
}

.product p {
  position: relative;
  z-index: 2;
}

.product img {
  width: 180px;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}

.product img:hover{
  border-radius: 10px 10px 0px 0px;
}

.message a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
}
.message a:hover {
  color: #b5acac;
  transition: 0.2s;
}